.cus-tabs .nav-tabs {
    border: none;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.cus-tabs .nav-tabs .nav-item:not(:last-child) {
    margin-right: 7px;
}
.cus-tabs .nav-tabs .nav-item {
    background: #EEEFF3;
    border: none;
    margin-bottom: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
.cus-tabs .nav-tabs .nav-item .nav-link {
    white-space: nowrap;
    color: #BEBEBE;
    font-size: 14px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    padding: 11px 15px;
}
.cus-tabs .nav-tabs .nav-item .nav-link.active {
    border: none;
    color: #FDBF14;
}
.cus-tabs .nav-tabs .nav-item .nav-link .bg-danger{
    background-color: #FF1E1E !important;
}
.cus-tabs .nav-tabs .nav-item .nav-link .badge{
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tab-inner-head .search-table input {
    border-radius: 60px;
    padding-left: 40px;
    min-width: 280px;
    border-color: rgba(72, 70, 91, 0.43);
    height: auto !important;
    min-height: 36px;
    font-size: 14px;
}
.tab-inner-head .search-table .form-group label{
    color: #48465B;
}
.tab-inner-head .search-table .form-group i {
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    font-size: 13px;
    pointer-events: none;
    color: rgba(72, 70, 91, 0.43);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.show-pages p {
    font-size: 14px;
    color: #1E1E2D;
}
.prev-next span:not(:last-child) {
    margin-right: 4px;
}
.prev-next span {
    border: 1px solid #eee;
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.prev-next span:hover,
.prev-next span:focus{
    background-color: #FDBF14;
    color: #fff;
}
.dropdown-toggle::after {
    vertical-align: .155em;
}

.cus-tabs .custom-checkbox .custom-control-label::before {
    border-radius: .07rem;
}
.cus-tabs .custom-control-input:checked~.custom-control-label::before {
    border-color: #fdbf14;
    background-color: #fdbf14;
}
.cus-tabs .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgb(253, 191, 20, .25);
}
.cus-tabs .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #fdbf14;
}

.all-action .dropdown .dropdown-toggle::after {
    margin-left: 12px;
}
.all-action .dropdown span {
    color: #1E1E2D;
    font-weight: normal;
}
.all-action .dropdown .dropdown-menu {
    padding: 1px 0px;
    border: 1px solid #eee;
    box-shadow: 0 5px 7px rgba(0,0,0,.2);
    min-width: 120px;
}
.all-action .dropdown .dropdown-menu .dropdown-item {
    padding: 7px 20px;
    font-size: 14px;
}
.all-action .dropdown .dropdown-menu .dropdown-item.active,
.all-action .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #ffc107;
}
.tab-inner-body table thead tr th .btn{
    font-size: 14px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.tab-inner-body table thead tr th .btn:hover,
.tab-inner-body table thead tr th .btn:active{
    color:#fff !important;
}
.btn-outline-warning{
    border-color: #FDBF14;
    color: #FDBF14;
}
.tab-inner-body table thead th {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
    border-top: 0;
}
.tab-inner-body table tbody th,
.tab-inner-body table tbody td {
    vertical-align: middle;
}
.application-request table th:last-child,
.application-request table td:last-child {
    width: 170px;
    text-align: center !important;
}
.viewentrybtn{
    font-size: 14px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.application-request table tbody td:nth-child(2) {
    min-width: 300px;
}
.tab-inner-body table tbody td,
.tab-inner-body table tbody th{
    color: #48465B;
}
.application-request table tbody td:nth-child(3){
    text-align: center;
}
.tab-inner-body table tbody td:nth-child(3) .date-time{
    white-space: nowrap;
}
.action-icons span{
    cursor: pointer;
}

.nees-feeds table,
.nees-feeds table *:not(.btn){
    border-color: #EEEFF3 !important;
}
.nees-feeds table tr td:last-child,
.nees-feeds table tr td:first-child{
    text-align: center;
}
.activity table tr td:first-child{
    text-align: left;
}
.nees-feeds table .events .date h3 {
    font-weight: 500;
    color: #10152C !important;
}
.nees-feeds table .events .date p{
    color: #10152C !important;
}
.nees-feeds table .events-inner img {
    height: 60px;
    width: 65px;
    object-fit: cover;
    border-radius: 2px;
}
.nees-feeds table .events-inner .events-inner-details h5 {
    color: #10152C !important;
    margin-bottom: 6px;
}
.nees-feeds table .events-inner .events-inner-details p {
    color: #999999 !important;
}
.nees-feeds table .all-action .dropdown .dropdown-menu {
    min-width: 100px;
}
td .date-time{
    white-space: nowrap;
}
.white-space-nowrap{
    white-space: nowrap;
}
.admin-pending td,
.admin-pending td p{
    color: #BEBEBE !important;
}


@media screen and (min-width: 768px){
    .width-md-180{
        width:180px;
    }
    .width-md-200{
        width:200px;
    }
    .width-md-60{
        width:60px;
    }
    .width-md-120{
        width:120px;
    }
}