body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "proxima-nova",sans-serif;
    color: #10152C;
    background-color: #F8F8F8;
}

header .all-action:nth-child(3) {
    flex: 0 0 60%;
    max-width: 60%;
}
header .all-action {
    flex: 0 0 15%;
    max-width: 15%;
}
header div.text-right:last-child {
    flex: 0 0 25%;
    max-width: 25%;
}
header .filter-cus {
    flex: 0 0 100%;
    max-width: 100%;
}
.feed-section .feedContent span * {
    font-size: 16px !important;
    /* font-weight: normal ; */
    color: #10152c !important;
}


/* Common Classes */
.parallax{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cursor{
    cursor: pointer;
}
.bg-blue{
    background-color: #10152C !important;
}
.text-blue{
    color: #10152C !important;
}
.ff-rubik {
    font-family: 'Rubik', sans-serif !important;
}
.fs-40{
    font-size: 40px;
}
.fs-32{
    font-size: 32px;
}
.fs-31{
    font-size: 31px;
}
.fs-30{
    font-size: 30px;
}
.fs-24{
    font-size: 24px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.w-right{
    width: calc(100% - 250px);
}
.right-0{
    right: 0 !important;
}
.left-unset{
    left: unset !important;
}
.text-warnings{
    color: #FDBF14 !important;
}
.opacity-0{
    opacity: 0 !important;
}
.rounded-4{
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}
.bg-light-blue{
    background-color: #1D233D !important;
}
.text-lightgray{
    color: rgba(16, 21, 44, 0.5) !important;
}
.bg-light-gray{
    background-color: rgba(16, 21, 44, 0.058) !important;
}
input[type=number]::-webkit-inner-spin-button {
    display: none;
}
.bg-extralight-gray{
    background-color: #f2f2f2;
}
.bg-cusgray{
    background-color: #EEEFF3 !important;
}
.mt-66{
    margin-top: 66px;
}
.wrapper{
    min-height: calc(100vh - 152px);
}
.overlay-menu {
    background-color: rgb(0, 0, 0, .8);
    z-index: 9999;
    position: fixed;
    top: 50%;
    right: 0;
    height: 100%;
    width: 0;
    transform: translateY(-50%);
    transition: all .4s ease;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -ms-border-radius: 100px 0 0 100px;
    -o-border-radius: 100px 0 0 100px;
}
.show-overlay {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0 0 0px;
    -moz-border-radius: 0 0 0px;
    -ms-border-radius: 0 0 0px;
    -o-border-radius: 0 0 0px;
}
.overlay-menu p{
    right: 0;
    color: #fff;
    top: 0;
    padding: 30px;
    font-size: 20px;
    font-weight: normal;
}
.overlay-menu p i{
    font-weight: 600;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
}
.breadcrumb-item a{
    color: #A0A0A0;
    text-decoration: none;
}
.breadcrumb-item {
    color: #FDBF14 !important;
    font-size: 13px;
}
.bg-lightwarning {
    background-color: rgba(253, 191, 20, 0.07)!important;
}
.rounded-50{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.text-warning{
    color: #FDBF14 !important;
}
.btn-outline-warning:hover{
    color: #fff !important;
}
/* End Common Classes */

.login-page {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.login-page:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-image: url("https://admin.thebulb.africa/imges/bg-login.jpg");
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-page:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    z-index: -1;
}
.form-inner .card-body {
    padding: 40px 35px 20px!important;
}
.form-inner .card-body h5 {
    color: #707070;
}
.form-inner .card-body h5 + p{
    color: #707070;
}
.form-inner .logo img {
    height: 55px;
}
.form-inner .card-body .form-control {
    border-color: #495057;
    font-size: 14px;
    min-height: 38px;
}
.form-inner .card-body .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, .25);
}
.form-inner .card-body .form-control::placeholder{
    color: #707070;
}
.form-inner .card-body .custom-control .custom-control-label {
    color: #707070;
}
.form-inner .card-body .custom-control .custom-control-label:before {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.form-inner .card-body .custom-control-input:checked~.custom-control-label::before{
    border-color: #ffc107;
    background-color: #ffc107;
}
.form-inner .card-body .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, .25);
}
.form-inner .card-body button.btn{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.form-inner .card-body .view-pass i {
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    opacity: .2;
    transition: all .3s ease;
    cursor: pointer;
}
.form-inner .card-body .view-pass .form-control {
    padding-right: 40px;
}
.form-inner .card-body .view-pass i {
    opacity: .7;
}
.form-inner .card-body .view-pass i:hover {
    opacity: .9;
}
.form-inner .card-body .view-pass i.fa {
    position: absolute;
}
.msg {
    top: 66px;
    right: 0;
    padding: 14px 18px 14px 22px;
    background-color: #F7F7F7;
    border-radius: 2px 0 0 2px;
    max-width: 370px;
    width: 100%;
    z-index: 99999;
}
.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    z-index: 9999;
}
.outline-none{
    outline: none !important;
}

@media screen and (max-width: 767px){
    .login-page:before,
    .login-page:after{
        width: 100%;
    }
    .login-page:after{
        background-color: rgba(0, 0, 0, .2);
    }
    .login-page:before{
        filter: blur(2px);
    }
    .form-inner .card-body{
        padding: 1.25rem !important;
    }
}
@media screen and (max-width: 991px) and (min-width:768px){
    .login-page:before,
    .login-page:after{
        width: 58%;
    }
}
@media screen and (min-width:992px){
    .opacity-lg-1{
        opacity: 1 !important;
    }
    .opacity-lg-0{
        opacity: 0 !important;
    }
    .pointer-events-md-none{
        pointer-events: none;
    }
}
@media screen and (min-width:1200px){
    .opacity-xl-1{
        opacity: 1 !important;
    }
    .opacity-xl-0{
        opacity: 0 !important;
    }
}

@media screen and (min-width:992px){
    .rightSide {
        max-width: calc(100% - 250px);
    }
}
@media screen and (min-width:768px){
    .opacity-md-1{
        opacity: 1 !important;
    }
    .opacity-md-0{
        opacity: 0 !important;
    }
}
@media screen and (min-width:576px){
    .opacity-sm-1{
        opacity: 1 !important;
    }
    .opacity-sm-0{
        opacity: 0 !important;
    }
}

.errorMsg {
    font-size: 14px;
    color: #ff0000;
    font-style: italic;
    padding-top: 3px;
}
.filter-cus input {
    border-radius: 60px;
    padding-left: 40px;
    min-width: 280px;
    height: auto !important;
    min-height: 36px;
    font-size: 14px;
    border: 1px solid rgba(72, 70, 91, 0.43);
}
.filter-cus i.fas {
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    font-size: 13px;
    pointer-events: none;
    color: rgba(72, 70, 91, 0.43);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}