.dashboard-header__search-box{
  width: auto;
  flex: 1;
  flex-direction: row;
  max-width: 75%;
  height: 3em;
  background-color: rgba(5, 0, 56, 0.06);
  border-radius: .4em;
  display: flex;
  padding-left: 2.5em;
  align-items: center;
}

.dashboard-header__search-icon{
  margin-right: 1.1em;
  height: 1.51em;
  width: 1.5em;
}

.dashboard-header__input{
  font-size: 1.4em;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #050038;
  letter-spacing: 0.02em;
}

.dashboard-header__input:focus, .dashboard-header__input:active {
  background: transparent;
}

.dashboard-header__input::placeholder {
  color: #050038;
}

@media screen and (max-width: 978px) {
  .dashbaord-header__search-box{
    flex: 0 1 auto;
    padding: 0 1em 0 1em;
    margin-left: auto;
    width: 75%;
  }
}