.sidebar {
    max-width: 250px;
    flex: 0 0 250px;
    background-color: #050038;
}
aside.side-left {
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    max-width: inherit;
}
aside.side-left::-webkit-scrollbar,
aside.side-left::-webkit-scrollbar-track{
    width: 7px;
    background-color: rgb(30, 30, 45, .2);
    box-shadow: inset 0 0 15px rgba(255,255,255,0.2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
aside.side-left::-webkit-scrollbar-thumb{
    background-color: rgba(253, 191, 20, 0.18);
    box-shadow: inset 0 0 4px rgba(255,255,255,0.2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.side-left .logo-left {
    padding: 20px;
}
.navlinks ul li:not(:last-child){
    margin-bottom: 2px;
}
.navlinks ul li.dropdown {
    display: inline-block;
    width: 100%;
}
.navlinks ul li a:not(.dropdown-item):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    width: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
}
.navlinks ul li a:not(.dropdown-item):after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 2px;
    background-color: #FDBF14;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: none;
    vertical-align: unset;
    margin-left: 0;
}  
.navlinks ul li.active a.nav-link:before,
.navlinks ul li:hover a.nav-link:before{
    background-color: rgba(253, 191, 20, 0.18);
    visibility: visible;
    opacity: 1;
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.navlinks ul li.active a.nav-link:after,
.navlinks ul li:hover a.nav-link:after{
    visibility: visible;
    opacity: 1;
    height: 100%;
}
.navlinks ul li .dropdown-menu li .dropdown-item:focus, 
.navlinks ul li .dropdown-menu li .dropdown-item:hover {
    color: #FDBF14;
    text-decoration: none;
    background-color: transparent;
}
.navlinks ul li a{
    text-decoration: none;
    position: relative;
    padding: 7px 20px;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
}
.navlinks ul li a img{
    width: 13px;
    height: auto;
    margin-right: 10px;
}
.navlinks ul li.nav-items.dropdown .dropdown-menu {
    position: unset !important;
    transform: unset !important;
    width: 100%;
    padding-left: 40px;
    background: transparent;
    box-shadow: none;
    border: none;
    padding-top: 0;
}
.navlinks ul li.dropdown.show i:before {
    content: "\f106";
}
.navlinks ul li.dropdown.active .dropdown-menu {
    display: block !important;
}
.navlinks ul li.dropdown .dropdown-menu li.active a {
    color: #FDBF14;
}
.navlinks ul li.dropdown.active i:before{
    content: "\f106";
}

@media screen and (max-width:991px){
    .sidebar {
        position: fixed;
        left: -500px;
        min-height: 100vh;
        width: 100%;
        z-index: 99999;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
}
    .showSidebar{
        left: 0;
    }
}