header{
    min-height: 70px;
}
header .search-with-icon input{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding-left: 38px;
    min-width: 280px;
    border-color: rgba(72, 70, 91, 0.43);
}
header .search-with-icon i{
    top: 50%;
    left: 15px;
    color: gray;
    font-size: 12px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.admin-profileMenu img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.admin-profileMenu .dropdown-menu {
    top: 6px !important;
    border-radius: 3px;
    border-color: #eee;
    box-shadow: 0px 0px 8px rgba(0,0,0,.1);
    padding: 0;
}
.admin-profileMenu .dropdown-menu a.dropdown-item {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.admin-profileMenu .dropdown-menu a.dropdown-item:not(:last-child){
    border-bottom: 1px solid #eee;
}
.admin-profileMenu .admin-detail .admin-name {
    color: #1E1E2D;
}
.admin-profileMenu .dropdown-menu a.dropdown-item i{
    max-width: 16px;
    margin-right: 5px;
    width: auto;
}
.admin-profileMenu .dropdown-menu a.dropdown-item:hover {
    background-color: rgba(253, 191, 20, 0.3);
}
.admin-profileMenu .dropdown-menu .dropdown-item.active, .admin-profileMenu .dropdown-menu .dropdown-item:active {
    background-color: #fdbf14 !important;
}
.header-top .form-group label {
    color: #48465B;
}