.pace-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 100000;
  display: none;
  overflow-y: scroll;
}
.pace-modal.active {
  display: block;
}
.pace-modal .pace-modal-dialogue {
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  overflow: auto;
  margin-bottom: 50px;
  margin-top: 120px;
  font-size: 16px;
}
.pace-modal .pace-modal-dialogue .close-button {
  cursor: pointer;
  opacity: 0.5;
}
.pace-modal .pace-modal-dialogue .close-button:hover {
  opacity: 1;
}
.pace-modal .pace-modal-dialogue .pace-modal-header {
  position: relative;
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.5);
}
.pace-modal .pace-modal-dialogue .pace-modal-content {
  position: relative;
  padding: 0 47.56px;
}
.pace-modal .pace-modal-dialogue .pace-modal-tab-content {
  position: relative;
  padding: 0 47.56px;
  display: none;
}
.pace-modal .pace-modal-dialogue .pace-modal-tab-content.active {
  display: block;
}
.pace-modal .pace-modal-tab-list {
  position: relative;
  height: 66.42px;
  padding: 0;
  margin: 0;
}
.pace-modal .pace-modal-tab-list .pace-modal-tab-item {
  position: relative;
  height: 100%;
  font-weight: 500;
  font-size: 16.4px;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.pace-modal .pace-modal-tab-list .pace-modal-tab-item.active {
  background-color: #12278C;
  color: white;
}