.quick-access-inner{
    background-color: #323240;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.quick-access-inner a img{
    height: 60px;
    margin-bottom: .51em;
}
.activity-timeline ul li{
    padding: 10px 0px;
}
.activity-timeline ul li:first-child{
    padding-top: 0;
}
.activity-timeline ul li p:first-child{
    padding-bottom: 4px;
}
.activity-timeline ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.upcomming-events-inner .events-title .venue {
    color: #999;
}
.activity-timeline ul li p {
    color: #79797A;
}

@media screen and (max-width:991px){
    .w-right {
        width: calc(100%) !important;
    }
}