.form-name h5{
    color: #1E1E2D;
}
.view-entry .form-group label {
    font-size: 15px;
    margin-bottom: .8em;
}
.view-entry .form-group input.form-control, 
.view-entry .form-group select.form-control, 
.view-entry .form-group textarea {
    border-color: #0d132c;
    font-size: 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: auto;
    min-height: 34px;
    color: #10152C;
}
.view-entry .form-group .form-control:focus, 
.view-entry .form-group textarea.form-control:focus {
    border-color: #707070!important;
    box-shadow: 0 0 0 0.2rem hsla(0,0%,43.9%,.25);
}
.hire-devs .form-group label{
    font-size: 18px;
    margin-bottom: .4em;
}
.add-image {
    position: relative;
}
.add-image label {
    background-color: #FAFAFA;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    min-height: 272px;
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-image label:hover {
    box-shadow: 0 .1rem .45rem rgba(0,0,0,.095)!important;
}
.add-image label img.icon {
    width: 40px;
}
.add-image .uplaodedImage img{
    height: 273px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.add-image .uplaodedImage{
    position: relative;
    width:  100%;
}
.overlay-remove{
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: right;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    pointer-events: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.overlay-remove:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}
.add-image .uplaodedImage:hover .overlay-remove{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.add-gallery label {
    background-color: #EEEFF3;
    height: 80px;
    width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    max-width: 80px;
    flex: 0 0 80px;
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 0 !important;
}
.add-gallery label .icon {
    width: 33px;
}
.add-gallery .viewImage{
    flex-grow: 1;
}
.add-gallery .viewImage img {
    height: 80px;
    width: 90px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.newsfeedGallery i {
    right: 5px;
    color: #fff;
    font-size: 12px;
    top: 4px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}
.newsfeedGallery:hover i {
    opacity: 1;
    pointer-events: all;
}
.newsfeedGallery:not(:last-child) {
    margin-right: 1em;
}
.demo-wrapper {
    border: 1px solid #f1f1f1;
    border-top: 0px;
}
.demo-wrapper .demo-editor {
    padding: 0 15px;
    min-height: 12pc;
}
.btn-warning-cus{
    background-color: #fff;
}
.add-logo-career .add-gallery .viewImage img {
    width: auto;
    object-fit: unset;
    border-radius: unset;
}
.ckeditor-cus .ck-editor__main .ck-editor__editable {
    min-height: 160px;
}
.workspace .card .card-header img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.workspace .card .card-header .workspace-overlay{
    background-color: rgba(0,0,0,.55);
    height: 0%;
    width: 0%;
    top: 0;
    right: 0;
    border-radius: 80px 0 80px 80px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-border-radius: 80px 0 80px 80px;
    -moz-border-radius: 80px 0 80px 80px;
    -ms-border-radius: 80px 0 80px 80px;
    -o-border-radius: 80px 0 80px 80px;
    padding: 10px;
    text-align: right;
    visibility: hidden;
    opacity: 0;
}
.workspace .card:hover .card-header .workspace-overlay{
    visibility: visible;
    height: 100%;
    width: 100%;
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.workspace .card-header .workspace-overlay a{
    height: 27px;
    width: 27px;
    font-size: 12px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 194, 194);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.workspace .card-header .workspace-overlay a:hover{
    background-color: #FDBF14;
}
.workspace .card-header .workspace-overlay a:not(:last-child){
    margin-right: 10px;
}
.cus-tabs .tab-content .tab-pane header {
    padding-top: 20px;
}